{% extends 'layout.html' %}

{% block title %}<title>Consinaciones</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="/static/css/interface_rolls.css">{% endblock %}


{% block body %}

<div class="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
</div>
<div class="interface_rolls">
    <img src="/static/img/logo_Programming JM.png">
    <h1>Consignaciones</h1>
    <form action="/insert_consignment" method="POST">
        <div class="form-group">
          <label for="detalle">Detalle</label>
          <input type="text" class="form-control" name="detalle" id="detalle">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="valor">
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Save">
        <br>
    </form>
</div>

{% endblock %}